MERCADOPAGO_ACCESS_TOKEN=TEST-xxxxxxxxxxxxxxxx
MERCADOPAGO_PUBLIC_KEY=TEST-xxxxxxxxxxxxxxxx
APP_ENV=development
OPENAI_API_KEY=your_openai_api_key_here

DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
PGDATABASE=
SPRING_PROFILES_ACTIVE=prod
JPA_DDL_AUTO=update
PORT=8080
